
.dashboard-sideBar
{
    width: 6vw;
    height: 85vh;
    background-color:rgb(12, 112, 27) ;
    border-bottom-right-radius: 2vw;
    /* margin-left: 1vw; */
}

.icns
{
    color: white;
    /* margin-left: 1vw; */
    /* padding-top: 2vw; */
    text-align: center;
    justify-content: center;

}

.icns i
{
    padding-top: 5vw;
    font-size: 1.5vw;
    cursor: pointer;
}

.homeIcn
{

}

.settingsIcn
{

}

.askIcn
{

}


.logOut
{
    color: white;
    padding-top: 10vw;
}


.lowerBody
{
    display: flex;
    flex-direction: column;
    /* display: none; */
}
