/* HEADER CSS  */
.header
{
    display: flex ; 
    padding: 2vw 7vw;
  
}

.logo
{
   width: 25vw;
   margin-top: 0.5vw;
}

#logo 
{
   margin-top: 0.4vw;
    width: 57%;
}

nav 
{
    display: flex ; 
    float: right;
    flex-direction: column;
    text-align: center;
    width: 53vw;
}

nav ul a
{
    display:  inline-block;
    margin: 0 4vh;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1.2vw;
}

a
{
    text-decoration: none;
    color: white;
}
.signInButton 
{

    text-align: center;
    margin-top: 0.5vw;
    margin-left: 2vw;


}

.signInButton button
{
    width: 8vw;
    height: 2.5vw;
    border-radius: 20px;
    outline: none;
    text-decoration: none;
    border-style: none;
    font-size: 1vw;
    cursor: pointer;
    /* font-size: 1.5vw; */
    /* padding: 1vw; */
    font-weight: 300;
    border-radius: 20vw;
    border-style: none;
    background-color: #757ff1;
    color: rgb(245, 237, 237);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

button:hover
{
    background-color: #4852bc;
    cursor: pointer;
}
