.SignupPage {
    font-family: 'poppins'; 
    display: flex;
    background: linear-gradient(48deg, rgba(97,215,182,1) 0%, rgba(255,255,255,1) 46%, rgb(163, 214, 238) 81%);
    padding: 0vw 4vw;
  }
  
  .leftSection {
    width: 120%;
    height: 100vh;
    justify-content: center;
  }
  
  .leftInnerBox {
    text-align: left;
    margin-left: 2vw;
    margin-top: 5vw;
    height: max-content;
    padding-top: 2vw;
    padding-bottom: 2vw;
    margin-right: 2vw;
background: rgba(255, 255, 255, 0.21);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.8px);
-webkit-backdrop-filter: blur(4.8px);
border: 1px solid rgba(255, 255, 255, 0.3);
    
  }
  
  .innerBox h1 {
    font-size: 2.3vw;
    margin-left: 2vw;
  }
  
  .rightSection {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  img {
    width: 150px;
  }
  
  h1 {
    margin: 20px 0;
    font-size: 36px;
    text-align: center;
    color: #333;
  }
  
  .signupForm {
    text-align: center;
  margin-top: 2.5vw;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
  
  label span {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
  }
  
  .frm {
    width: 22vw;
    height: 2.5vw;
    border-radius: 20px;
    outline: none;
    border-style: none;
    font-size: 1.2vw;
    padding-left: 1.5vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .passwordInput {
    position: relative;
  }
  
  .passwordInput input[type="password"],
  .passwordInput input[type="text"] {
    width: 80%;
  }
  
  .passwordInput button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #333;
    margin-right: 5px;
  }
  
  .signupButton {
    background-color: #50b5a5;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .signupButton:hover {
    background-color: #3c8c7e;
  }
  
  .signupStatus {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    display: none;
    padding: 10px;
    border-radius: 5px;
  }
  
  .loginRedirect {
    margin-top: 20px;
    font-size: 16px;
    color: #333;
  }
  
  .loginRedirect a {
    color: #50b5a5;
    text-decoration: none;
  }
  
  .loginRedirect a:hover {
    text-decoration: underline;
  }
  